# Node
node_modules/

# Environment variables
.env
Backend/.env

# Uploaded files
upload/
uploads/

# Chroma vector database
vectorstore/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
app.log
backend-debug.log
